.container {
  --gap: 20px;
  padding: 24px;
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* margin: 24px; */
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.row {
  width: 100%;
  display: flex;
  gap: var(--gap);
}

.section {
  flex: 1;
  border: var(--border);
  border-radius: 5px;
}

.heading {
  background-color: #f9f9f9;
  padding: 12px 24px;
  border-radius: 5px 5px 0 0;
  /* font-size: 14px; */
  font-weight: 500;
}

.filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter input {
  display: none;
}

.filter label {
  font-size: 14px;
  background-color: #f8f8f8;
  padding: 4px 8px;
  border-radius: 20px;
  cursor: pointer;
}

.distributionContent {
  padding: 24px;
  border-top: var(--border);
  border-radius: 0 0 5px 5px;
}

.checked {
  background-color: black !important;
  color: white;
}
