.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  min-height: calc(100vh - var(--navbar-height));
}

.wrapper {
  box-shadow: var(--shadow);
  border-radius: 5px;
  overflow: hidden;
}

.top {
  padding: 24px 20px;
  background-color: white;
}

.top h3 {
  font-size: 28px;
  font-weight: 600;
}

.top p {
  font-size: 14px;
  /* font-weight: 500; */
  color: #707070;
}

.bottom {
  border-top: var(--border);
  padding: 24px 20px;
  background-color: white;
}

.transactions {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.transaction {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  /* padding-block: 16px;
  border-bottom: var(--border); */
}

.left {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.right {
  width: 100%;
  padding-block: 16px;
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  text-align: right;
}

.detail p:last-child,
.amount p:last-child {
  font-size: 14px;
}

.detail p:last-child,
.amount p:last-child {
  color: gray;
  font-size: 12px;
}
